* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.photo{
    background: url("http://png.clipart.me/previews/638/dog-vector-39-49086.jpg") no-repeat, center;
    width: 200px;
    height: 200px;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;

}

.wrapper{
    margin: 0 auto;
    font-family: sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
   
}
ul{
    list-style: none;
    padding-left: 0px;
}

.menu{
    width: 800px;
    margin: 0px 0px 70px 0px;
}
.menu div{
    display: block;
    border: 1px solid black;
    padding: 0px;
    width: 25%;
    float:left;
    text-align: center;
    background-color: black;
    color: white;
    
}

.content{
    width: 800px;
    clear: both;
}

h2{
   text-align: center; 
}