/* in case I didn't tell you yet - use this whenever you do anything */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 

This task should help you check what you remember from the course.

In this task you just have to recreate what you see in the picture.
Some rules:
1. You can (and should) modify the HTML file, but 
   you are only allowed to add on div tag and some classes. a
2. The whole thing is 960px wide. That's how it has to be ;)
3. All the spacing has to stay the same
4. It obviously has to be in the center on any size of the screen

*/

body {
	color: red;
    width: 960px;
    margin: auto;
    font-family: Combo, sans-serif;
    
}

h1 {
    border: 1px dashed red;
    padding: 22px;
    padding-left: 2px;
    margin-top: 3px;
    margin-bottom: 33px;
        
}

div div{
    border: 1px dashed red;
    display: inline-block;
    width: 31%;
    float: left;
    padding-left: 5px;
}

.first{
    margin-right:  33px;
}
.middle{
    margin-right: 33px;
}