* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body{
    width: 80%;
    background-color: whitesmoke;
    text-align: center;
     margin: 0 auto;
    font-family: sans-serif;
    color: lightgrey;
    font-weight:500;
    
}



a {
    text-decoration: none;
    color: grey;
}



.header ul li{
    display: inline;
    padding: 5px 30px 5px 30px;
    border-bottom: 1px solid grey;
}



.header{
    height: 80px;
    
}



.header ul{
    margin-top: 70px;
}



.SELECT{
    color: dimgrey !important;
    font-weight: 600;
    border-bottom: 5px solid lightgrey !important;
}



.SKILLS{
    margin-right: 10px !important;
}



.ABOUT{
    margin-left: 10px !important;
}




.LOGO{
    background-image: url(ms.png);
    width: 100px;
    height: 200px ;
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center; 
    margin: 0 auto;
    padding: 60px 70px 70px 50px !important;
    border-bottom: 0px solid whitesmoke !important;
    
    }



.content{
    height: 470px;
    margin: 0 auto;
    
}

.title{
    width: 300px;
    text-align: center;
    margin: 0px auto;
}

.IMG{
    background-image: url(designer.png);
    width: 650px;
    height: 350px;
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center; 
    margin: 0 auto;
}




h1{
    color: dimgray;
}




.footer{
    height: 10px;
    width: 900px;
    border-top: 1px solid grey;
    margin: 0px auto;
}



.cleargrid{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.worksgrid div{
    text-align: center;
    margin: 0 auto;
    width: 33%;
    display: inline;
    float: left;
    position: relative;
    
}


.worksgrid{
    margin-top: 50px;
}


.third{
    padding-right: 0px !important;
}


p{
    padding-bottom: 30px;
}