* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

::-webkit-scrollbar { 
    display: none; 
}



body{
    width: 80%;
    background-color: whitesmoke;
    text-align: center;
     margin: 0 auto;
    font-family: sans-serif;
    font-family: sans-serif;
    color: lightgrey;
    font-weight:500;
}



a {
    text-decoration: none;
    color: grey;
}

.header{
    height: 90px;;
    width: 100%;
}

.header ul li{
    display: inline;
    padding: 1% 3% 1% 3%;
    border-bottom: 1px solid grey;
     
}


.header ul{
    margin-top: 7%;
}



.SELECT{
    color: dimgrey !important;
    font-weight: 600;
    border-bottom: 5px solid lightgrey !important;
}

.HOME{
    padding-left: 5% !important;
}

.SKILLS{
    margin-right: 0.5% !important;
}



.ABOUT{
    margin-left:  0.5% !important;
}




.LOGO{
    background-image: url(ms.png);
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center; 
    margin: 0 auto;
    padding: 5% 5% 5% 5% !important;
    border-bottom: 0px solid whitesmoke !important;
    
    }



.content{
    margin: 0 auto;
    
}

.title{
    width: 300px;
    text-align: center;
    margin: 0px auto;
}

.IMG{
    background-image: url(homepic.png);
    width: 680px;
    height: 380px;
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center; 
    margin: 0 auto;
}




h1{
    color: dimgray;
}


.first{
    clear: both;
}

.worksgrid div{
    text-align: center;
    display: inline;
    float: left;
    position: relative;
    width: 31%;
    max-width: 300px;
    margin: 1%;
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center; 
    
    
    
}

.worksgrid{
    margin-top: 1%;
    width: 90%;
    margin: 0 auto;
    
}

.worksgrid img{
    width: 100%;
}


.abouttext{
    margin-bottom: 5%;
    color:dimgray;
}

.marco{
    width: 50%;
    margin: 0 auto;
    
    
}
.marco img{
    width: 100%;
    background-repeat:   no-repeat;
    background-position: center; 
    margin-bottom: 10%;
}

.resumetext{
    width: 80%;
    margin: 0 auto;
}

h3{ 
    color: dimgray;
}

.resumetext div ul{
    color: grey;
    margin: 2%;
    padding: 1%;
    line-height: 150%;
}

h4{
    display: inline;
    color: grey;
}


.contact p{
    color: gray;
}

.contacttext{
    margin-top: 5%;
}